{% extends "base.html" %}

{% block content %}

    <style>
        .large-front-thumbnail {
            position: relative;
            max-width: 100%;
            height: auto;
            display: block;
            margin: 0 auto;
        }
    </style>
    <div class="row">
        <div class="col">
            <div class="card">
                <img class="large-front-thumbnail"
                     src="{{ 'static/imagenet_subset/'+image_id }} "
                     alt={{ image_id }}/>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="row">
                    <canvas id="classificationOutput" style="width: 50%; margin: auto; padding: 20px;"></canvas>
                    <div class="align-items-center">
                        <h2 id="waitText"></h2>
                        </div>
                    </div>
                </div>
                <a class="btn btn-primary" href="/classifications" role="button">Back</a>

                <a class="btn btn-primary" href="/download_result" download role="button">Download results</a>
                <a id="downloadButton" class="btn btn-primary"  download role="button">Download plot</a>
        </div>
    </div>
    <script src= "{{ "static/graph.js" }}" id="makeGraph" classification_scores="{{classification_scores}}"></script>
    <script src="{{ "static/graph.js" }}" id="makeGraph" classification_scores="{{classification_scores}}"></script>

    <script>
    // Funzione per convertire il canvas in un'immagine dati URL
    function convertCanvasToImage(canvas) {
        var img = new Image();
        img.src = canvas.toDataURL("image/png");
        return img;
    }

    // Funzione per avviare il download dell'immagine
    function downloadImage() {
        var canvas = document.getElementById("classificationOutput");
        var img = convertCanvasToImage(canvas);

        var link = document.createElement('a');
        link.href = img.src;
        link.download = 'plot.png';
        link.click();
    }

    // Aggiungi un ascoltatore di eventi al pulsante di download
    document.getElementById("downloadButton").addEventListener("click", downloadImage);
</script>

{% endblock %}

